.kiosk-sidebar-wrapper {
    padding-right: 0;
}
.kiosk-main-content {
    padding: 5rem 2rem 3rem;
    .screen-section {
        .circle-container {
            display: flex;
            justify-content: center;
            .circle {
                border-radius: 50%;border: 1px solid $concierge-black;
                position: relative;
                height: 7vw;
                width: 7vw;
                span {
                    font-size: 2rem;
                    font-weight: bold;
                    position:absolute;
                    top:50%; left:50%;
                    transform: translate(-50%, -50%);
                    margin:0;
                }
              }
        }
        .text-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            h2 {
                font-weight: bold;
                &.customer-speaking {
                    color: $concierge-green;
                }
                &.concierge-speaking {
                    color: $concierge-black;
                }
            }
            p {
                font-size: 2rem;
                margin-bottom: 2rem;
            }
        }
    }
    .grocery-concierge-icon {
        width: 150px;
        max-width: 100%;
    }
    .screen-navigation-links {
        display: flex;
        margin-top: 5rem;
        justify-content: center;
        button {
            display: inline-block;
            margin: 0 1rem;
            min-width: 200px;
        }
    }

}