.kiosk-sidebar {
    background-color: $concierge-black;
    color: white;
    height: 100%;
    padding: 3rem 2rem;
    @media (max-width: 767px) {
        display: none;
    }
    section {
        margin-bottom: 2rem;
        &:last-of-type {
            margin-bottom: 0;
        }
        h3 {
            color: $concierge-green;
            font-size: 1.5rem;
            font-weight: bold;
            &.underlined {
                margin-bottom: 1.5rem;
            }
        }
        p {
            font-size: 1.1rem;
            margin-bottom: 0.5rem;
        }
        span {
            font-size: 0.9rem;
        }
        li {
            font-size: 1.1rem;
            margin-bottom: 0.5rem;
            &:before {
                content: "- ";
            }
        }
    }
    hr {
        border-top: 1px solid $concierge-grey;
        margin: 1rem -2rem;
    }
}