.shopping-list-table {
  th {
    background-color: $concierge-green;
    color: white;
    font-weight: bold;
  }
  td {
    &:last-of-type {
      text-align: center;
    }
  }
  .clear-shopping-list-icon {
    &:hover {
      cursor: pointer;
    }
  }
}