.search-results-section {
  .search-results-location {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 2rem;
    @media (min-width: 576px) {
      justify-content: center;
    }
  }
  .product-search-results {
    margin-bottom: 2rem;
  }
}
