.product-search-section {
  .back-to-map-button-container {
    flex-direction: column;
    .back-to-map-button {
      margin: 0 auto;
    }
  }
  .hr {
    &-red {
      border-top: 1px solid $concierge-red;
    }
  }
  .microphone-answer-tip {
    color: $concierge-grey;
  }
  .microphone {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: white;
    border: 2px solid $concierge-dark-green;
    border-radius: 50%;
    color: $concierge-dark-green;
    display: block;
    height: 150px;
    margin: 0 auto 2rem;
    padding: .7em 1em;
    text-align: center;
    transition: all 0.3s ease-out;
    width: 150px;
    will-change: transform, filter;
    &:hover {
      transform: scale(.92);
    }
    &:active {
      filter: brightness(.8);
    }
    &:focus {
      outline: 0;
    }
    .icon {
      font-size: 3rem;
    }
  }
}

.conversation-container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  &--concierge {
    span {
      padding-left: 0.5rem;
    }
  }
  &--customer {
    justify-content: flex-end;
    span {
      padding-right: 1rem;
    }
  }
}

