.product-search-section {
  .back-to-map-button-container {
    flex-direction: column;
    .back-to-map-button {
      margin: 0 auto;
    }
    .product-search-subtitle {
      align-items: center;
      background: #ffffff;
      border: 1px solid rgba(0, 0, 0, 0.125);
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 1rem 0 2rem;
      &.voice-search {
        align-items: flex-start;
        border: none;
        @media (min-width: 576px) {
          align-items: center;
        }
        .store-name {
          color: $concierge-red;
          font-weight: bold;
          margin-bottom: 0.5rem;
        }
        .store-address {
          margin-bottom: 0.5rem;
        }
        .google-map {
          font-size: 0.9rem;
        }
        span {
          display: block;
        }
        a {
          color: $concierge-black;
          text-decoration: underline;
        }
      }
    }
  }
  .hr {
    &-red {
      border-top: 1px solid $concierge-red;
    }
  }
  .microphone-answer-tip {
    color: $concierge-grey;
  }
  .microphone {
    -webkit-appearance: none;
    -moz-appearance: none;
    //background: linear-gradient(180deg, #F57F6A 0%, #f4715a 80%, #f4715a 100%);
    //box-shadow: 2px 5px 30px rgba(244, 113, 90, .4);
    background-color: white;
    border: 2px solid $concierge-dark-green;
    border-radius: 50%;
    color: $concierge-dark-green;
    display: block;
    height: 150px;
    margin: 0 auto 2rem;
    padding: .7em 1em;
    text-align: center;
    transition: all 0.3s ease-out;
    width: 150px;
    will-change: transform, filter;
    &:hover {
      transform: scale(.92);
    }
    &:active {
      filter: brightness(.8);
    }
    &:focus {
      outline: 0;
    }
    .icon {
      font-size: 3rem;
    }
  }
}

.conversation-container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  &--concierge {
    span {
      padding-left: 0.5rem;
    }
  }
  &--customer {
    justify-content: flex-end;
    span {
      padding-right: 1rem;
    }
  }
}

