.mobile-header {
    margin-right: -15px;
    margin-left: -15px;
    margin-top: -15px;
    &--wrapper {
        align-items: center;
        background: $concierge-black;
        display: flex;
        justify-content: flex-start;
        height: 80px;
        padding: 1rem;
        position: relative;
        @media (min-width: 576px) {
            justify-content: center;
        }
    }
    &--title {
        height: 100%;
        h1 {
            font-size: 1.8rem;
            height: 100%;
            margin-bottom: 0;
            @media (min-width: 576px) {
                font-size: 2rem;
            }
            @media (min-width: 768px) {
                font-size: 2.2rem;
            }
            @media (min-width: 992px) {
                font-size: 2.5rem;
            }
        }
        img {
            height: 100%;
            max-width: 200px;
        }
    }
    &--account-link {
        color: white;
        position: absolute;
        right: 1rem;
        text-decoration: underline;
        &:hover, &:active, &:focus, &:visited {
            color: white !important;
            text-decoration: underline;
          }
    }
}

